apiVersion: apps/v1
kind: Deployment
metadata:
  name: protonmail-bridge-deployment
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: protonmail-bridge
  template:
    metadata:
      labels:
        app: protonmail-bridge
    spec:
      volumes:
        - name: protonmail-data
          persistentVolumeClaim:
            claimName: protonmail-bridge-pvc
      containers:
        - name: protonmail-bridge-container
          volumeMounts:
            - mountPath: "/root/"
              name: protonmail-data
          image: shenxn/protonmail-bridge:3.12.0-1
          ports:
            - containerPort: 1025
          readinessProbe:
            tcpSocket:
              port: 1025
            initialDelaySeconds: 10
            periodSeconds: 5
