# GCP Key
key.json
anshulg-cluster-key.json

# 1Password
1password-credentials.json

# Tarsnap Key
tarsnap.key

# Secrets
**/*.unencrypted.yaml

.idea/
anshulg-cluster.iml


### Helm template
# Chart dependencies
**/charts/*.tgz
