version: "2"

services:
  kanidm:
    image: docker.io/kanidm/server:1.5.0@sha256:c7ff01c0eda06c95ded2cbd39104c9db2d4aaf0ff4a36a9a16f2989cacf9a2fb

    ports:
      - "127.0.0.1:8443:8443"
      - "636:3636"

    volumes:
      - /home/anshulgupta/data:/data
      - /home/anshulgupta/certs:/certs:ro
      - /home/anshulgupta/backups:/backups

    restart: always
    user: "1000:100"
    cap_drop:
      - ALL
    # read_only: true

    healthcheck:
      test: ["CMD", "/sbin/kanidmd", "healthcheck", "-c", "/data/server.toml"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s
      start_interval: 5s

    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 1G
        limits:
          cpus: "0.85"
          memory: 2G
